<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="postgres" connectionString="server=localhost;port=5433;database=MyReadModel;user id=postgres;password=postgres;" />
    <add name="eventStore" connectionString="ConnectTo=tcp://admin:changeit@localhost:1113; HeartBeatTimeout=500; MaxRetries=100; MaxReconnections=100;" />
  </connectionStrings>

  <appSettings>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>